.footer {
  position: fixed;
  &__wrapper {
    padding: 2rem;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
  }
  &__link a {
    display: block;
  }
  &__link:first-child:hover {
    transition: 0.3s ease-in-out;
    transform: rotate(-10deg);
  }
  &__link:nth-child(2n):hover {
    transition: 0.3s ease-in-out;
    transform: rotate(10deg);
  }
  .roll-under {
    @include roll-under;
  }
}
