.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;
  font-family: "Electrolize", sans-serif;
  @media (max-width: 750px) {
    flex-direction: column;
  }
  &__short-info {
    animation: showFormLeft 1.25s;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 17px;
    @media (max-width: 750px) {
      width: 100%;
    }
    &-title {
      font-size: 1.75rem;
      margin: 0.5rem 0;
      font-weight: bold;
      text-shadow: 3px 2px 5px lightslategray;
      @media (max-width: 1200px) {
        & {
          font-size: 1.2rem;
        }
      }
    }
    &-text {
      margin: 0.5rem 0;
      line-height: 175%;
      & p {
        padding: 0.3rem;
        margin: 1rem 0;
        & span {
          font-size: 1.2rem;
          letter-spacing: 0.11rem;
          line-height: 130%;
          @media (max-width: 1200px) {
            & {
              font-size: 0.85rem;
            }
            &-text {
              line-height: 150%;
            }
          }
          @media (max-width: 400px) {
            & {
              font-size: 0.65rem;
            }
            &-text {
              line-height: 120%;
            }
          }
        }
      }
    }
  }

  .person {
    animation: showPerson 3s;
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 0 17px;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 3px 2px 3px 3px black;
    border-radius: 15px;
    @media (max-width: 750px) {
      width: 100%;
    }

    .card {
      animation: showFromRight 1.5s;
      display: flex;
      flex-direction: column;
      max-width: 100%;
      & > a {
        display: block;
        margin: 0 auto;
        max-width: 400px;
        padding: 1rem;
      }
      @media (max-width: 1200px) {
        & > a {
          max-width: 300px;
        }
      }
      @media (max-width: 850px) {
        & > a {
          max-width: 250px;
        }
      }
      &__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        border-radius: 20px;
        margin-bottom: 1rem;
        border: 2px solid transparent;
        cursor: pointer;
        &:hover {
          transition: 1s ease-in-out;
          border: 2px solid orange;
          transform: scale(0.9);
        }
      }
      &__text {
        display: flex;
        margin: 0.3rem 0;
        padding: 0.5rem;
      }
      &__body {
        width: 100%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .contacts {
        text-decoration: underline;
        & a {
          color: lightskyblue;
        }
      }
    }
  }
}
