.home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-shrink: 1;

  &__short-info {
    animation: showFormLeft 1.25s;
    width: 50%;
    padding: 0 3%;
    &-title {
      font-size: 1.75rem;
      margin: 0.5rem 0;
      @media (max-width: 1200px) {
        & {
          font-size: 1.2rem;
        }
      }
    }
    &-text {
      margin: 0.5rem 0;
      & p {
        padding: 0.3rem;
        & span {
          font-size: 1.2rem;
          letter-spacing: 0.11rem;
          line-height: 130%;
          @media (max-width: 1200px) {
            & {
              font-size: 0.8rem;
            }
          }
        }
      }
    }
  }

  .person {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;

    .card {
      animation: showFromRight 2s;
      display: flex;
      flex-direction: column;
      max-width: 40%;
      &__photo {
        display: block;
        max-width: 400px;
        border-radius: 20px;
        margin-bottom: 1rem;
        cursor: pointer;
        &:hover {
          transition: 1s;
          box-shadow: 2px 3px 5px;
        }
      }
      &__text {
        margin: 0.5rem 0;
      }
      .contacts {
        text-decoration: underline;
        & a {
          color: lightskyblue;
        }
      }
    }
  }
}
