@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

.app {
  position: relative;
  max-width: 100vw;
  height: 100%;
  background-color: rgba(221, 206, 206, 0.719);
  background-position: fixed;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 60px 1fr;
  font-family: "Electrolize", sans-serif;
}
